workflows/gV1DBpV22WGlBwqU.json
{
  "active": false,
  "connections": {
    "Execute workflow": {
      "main": [
        [
          {
            "node": "Set date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set date": {
      "main": [
        [
          {
            "node": "Format date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format date": {
      "main": [
        [
          {
            "node": "Set commit date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set commit date": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows [N8N]": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move JSON to binary": {
      "main": [
        []
      ]
    },
    "Split to single items": {
      "main": [
        [
          {
            "node": "Check if file exists in repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists in repository": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update file": {
      "main": [
        [
          {
            "node": "Split to single items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Retrieve workflows [N8N]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-29T16:59:56.349Z",
  "id": "gV1DBpV22WGlBwqU",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "id": "e428f840-2b9d-4658-a189-796b729fd067",
      "name": "Execute workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "034ecbdd-a67f-4920-8129-ccd755b69e36",
      "name": "Set date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1088,
        400
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "dd-MM-yyyy/H:mm",
        "options": {}
      },
      "id": "3cbe1fef-bb2c-4b3a-b492-46f84bafa28a",
      "name": "Format date",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -880,
        400
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "commitDate",
              "value": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cd3c837-6b71-4baf-a7b8-00c35df9bcc5",
      "name": "Set commit date",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -688,
        400
      ]
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "ce5d80cf-b3c5-4013-80a7-56753cebef6b",
      "name": "Retrieve workflows [N8N]",
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        128,
        400
      ],
      "credentials": {
        "n8nApi": {
          "id": "agu4J7LkGk5H7utK",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "fileName": "={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"
        }
      },
      "id": "fc4ab475-3e93-415a-93ab-2fbc715205d5",
      "name": "Move JSON to binary",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        128,
        256
      ],
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c89b934e-3e61-401a-affe-6da6c2b1371b",
      "name": "Split to single items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        768,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node['Combine file names [GITHUB]'].json.name }}",
              "operation": "contains",
              "value2": "={{ $('Code1').item.json.fileName }}"
            }
          ]
        }
      },
      "id": "08877ddf-8456-444e-ab89-710a4a04999f",
      "name": "Check if file exists in repository",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1008,
        304
      ]
    },
    {
      "parameters": {
        "content": "## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.",
        "height": 339.51767272727324,
        "width": 182.4715262478496
      },
      "id": "75162f9c-b966-4ab7-87b1-93bfa4151b00",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Set and format date/time\nThose nodes are responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.",
        "height": 339.42690909090965,
        "width": 585.4045090909088
      },
      "id": "cdee3acf-d40b-487a-ba68-5808f72cb805",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1136,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.",
        "height": 339.42690909090965,
        "width": 389.89265454545443
      },
      "id": "642ac1d3-3eca-4d04-b595-decc4451b9a2",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**",
        "height": 339.42690909090965,
        "width": 384.14708363636373
      },
      "id": "9653583e-5c1f-4070-a3f4-1686197b755b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        240
      ]
    },
    {
      "parameters": {
        "content": "## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.",
        "height": 731.633426614796,
        "width": 703.8733020263451
      },
      "id": "725f34db-f741-49f1-9746-c1afeb0fdf1d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -32
      ]
    },
    {
      "parameters": {
        "content": "## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**",
        "height": 234.82946582693546,
        "width": 508.8662091091177
      },
      "id": "502b16a6-c42e-432e-9fac-4ec0a41977bb",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const obj = $input.first().json;\nconst jsonString = JSON.stringify(obj, null, 2); // nicely formatted JSON string\n\nreturn [{\n  json: {\n    fileName: $input.first().json.name + \".json\",\n    rawJson: jsonString // <-- this will go into a cell\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        400
      ],
      "id": "33d5bf69-2e47-400a-b0ed-552f6e2aa102",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "rawJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        544,
        400
      ],
      "id": "0f2e0eec-4baf-4eb4-87c5-bbf13fb264a1",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('Code1').item.json.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1G1bf_p9vAdkQPqbh16mvWzlJQloEllR6",
          "mode": "list",
          "cachedResultName": "n8n projects",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1G1bf_p9vAdkQPqbh16mvWzlJQloEllR6"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        496
      ],
      "id": "aa275096-49dd-4eb0-b25f-6d20062e35db",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6o2AeWA8zSReocqb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Code1').item.json.fileName }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1216,
        128
      ],
      "id": "b254777e-27b6-4805-9e25-f4aa1662893d",
      "name": "Update file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6o2AeWA8zSReocqb",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -480,
        400
      ],
      "id": "80c9c4b0-c9c6-4b54-a82c-5263724f5d92",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6o2AeWA8zSReocqb",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-29T16:59:56.364Z",
      "updatedAt": "2025-08-29T16:59:56.364Z",
      "role": "workflow:owner",
      "workflowId": "gV1DBpV22WGlBwqU",
      "projectId": "oOBE5XeUJ9gPMiIT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-29T20:35:23.000Z",
  "versionId": "f03aaa71-e859-41a3-90fb-63c358e0cdcb"
}