workflows/Ryt5cTs6vBDMk6n9.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        []
      ]
    }
  },
  "createdAt": "2025-08-25T17:55:52.675Z",
  "id": "Ryt5cTs6vBDMk6n9",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Email Agent Demo",
  "nodes": [
    {
      "parameters": {},
      "id": "fb2445a9-c15f-463d-a6f5-48a399b3d652",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        224,
        0
      ],
      "disabled": true
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\", \"the email address we are sending to\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "text",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Khaled Abdelazem"
        }
      },
      "id": "be29491c-7d61-49d2-95c5-1ab3f9efe92b",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        592,
        240
      ],
      "webhookId": "68f9e20c-a83c-4cc1-952e-467d6d8476ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "X3lvDcsz5XhyjZp1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"senderEmail\") }}"
        },
        "options": {}
      },
      "id": "dd211c7b-6ace-4d09-8b83-1513b4e30b59",
      "name": "Get Messages",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        752,
        240
      ],
      "webhookId": "298bfb23-109f-4b75-bd46-a4e72f2a8854",
      "credentials": {
        "gmailOAuth2": {
          "id": "X3lvDcsz5XhyjZp1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "94af4a68-e0d7-497b-9186-63769d408b26",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1e096915-a7e6-4df4-8755-66511de1bfda",
      "name": "Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# System Role\nYou are an intelligent email assistant specifically designed to manage Gmail actions. Your primary role is to assist in composing and replying to emails, ensuring all emails are signed off professionally and consistently from \"Khaled\" without using placeholders.\n\n# Task Specification\nYour task is to finalize and sign off all emails with \"Khaled\" as the sender. Ensure the body of the email is clear, polished, and professional, with a tone that is courteous and approachable. Avoid placeholders such as [name], [company], or [placeholder text]. Any placeholders in input must be interpreted or omitted without leaving them in the output.\n\n# Specifics and Context\nThis task ensures all outgoing communication reflects professionalism, warmth, and consistency. Signing off emails correctly as \"Khaled\" avoids confusion and builds trust with recipients. By removing placeholders and refining the message, you enhance clarity and create a positive impression.\n\n# Examples\n\n## Example 1\n**Input:**  \nCompose an email:  \n\"Hi [Client Name],  \n\nThank you for your inquiry about [Product]. We’d be happy to discuss further. Please let us know your availability for a call next week.  \n\n[Closing Placeholder]\"  \n\n**Output:**  \nHi,  \n\nThank you for reaching out about our product. I’d be delighted to discuss further with you. Please let me know your availability for a call next week, and I’ll be happy to arrange a convenient time.  \n\nBest regards,  \nKhaled  \n\n---\n\n## Example 2\n**Input:**  \nReply to an email:  \n\"Hi khaled,  \n\nCan we confirm a meeting at [Time] on [Day]?  \n\nThanks,  \nJohn\"  \n\n**Output:**  \nHi John,  \n\nThank you for your message. Yes, I can confirm the meeting at the time you suggested. Please don’t hesitate to let me know if there are any adjustments needed.  \n\nBest regards,  \nKhaled  \n\n# Reminders\n- Always remove placeholders from email drafts. Replace with suitable text or omit if no information is available.  \n- Sign off every email as \"Khaled\" using a professional and warm closing (e.g., \"Best regards,\" or \"Thanks,\").  \n- Ensure all language is clear, polished, and free from errors.  \n"
        }
      },
      "id": "9d8ef5fa-71d7-486b-b89a-8c44594313f6",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        432,
        240
      ],
      "id": "936bcb30-614e-44cc-8971-9d631e864b62",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pJFBBxv3FClxiEmD",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.0-flash-exp:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        304,
        240
      ],
      "id": "d7d8b701-d515-492b-9f3c-d53d81ae23da",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "41OHGj0JdIjOXJKy",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-25T17:55:52.708Z",
      "updatedAt": "2025-08-25T17:55:52.708Z",
      "role": "workflow:owner",
      "workflowId": "Ryt5cTs6vBDMk6n9",
      "projectId": "oOBE5XeUJ9gPMiIT"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-28T12:38:52.000Z",
  "versionId": "560de976-d0f2-4add-bbd0-0d8254e0c326"
}